<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.huahua.gankio"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 判断是否联网需要这个权限  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 危险权限（组） -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ActivityWebView"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize">
            <!--android:parentActivityName=".MainActivity"-->

            <!--&lt;!&ndash; Parent activity meta-data to support 4.0 and lower &ndash;&gt;-->
            <!--<meta-data-->
            <!--android:name="android.support.PARENT_ACTIVITY"-->
            <!--android:value=".MainActivity" />-->

        </activity>

        <activity
            android:name=".ActivityImageView"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            />

        <!-- 关于页面 -->
        <activity android:name=".ActivityAbout"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|screenSize"/>
    </application>

</manifest>